.container{
    display: flex;
    gap: 20px;
}
.principal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
@media(max-width: 640px) {
    .container{
        display:flex;
        flex-direction:column-reverse;
    }
    .bar ul{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        gap: 5%;

        
    }
}